<section class="container">
    <article class="row">
        <div class="col-lg-3 mt-2" *ngFor="let clientAssignation of clientAssignationList">
            <div class="card">
                <div class="card-header">
                  <p *ngIf="clientAssignation.trainer">Entrenador: {{clientAssignation.trainer.name}}</p>
                  <p *ngIf="!clientAssignation.trainer">Clientes sin asignar</p>
                </div>
                <ul>
                  <li *ngFor="let client of clientAssignation.clientList">Cliente: {{client.name}}</li>
                </ul>
                <div class="card-footer">
                    {{clientAssignation.clientList.length}}
                    <span *ngIf="clientAssignation.trainer">clientes asignados</span> 
                    <span *ngIf="!clientAssignation.trainer">clientes no asignados</span> 
                  </div>
              </div>
        </div>
    </article>
</section>
